**histfile*

**__pycache__
**/.idea/
bak
**.log
.vscode
.history
temp
shellrc/custom.sh

**/fcitx/dbus
**/fcitx5/pinyin/*.dict
**/fcitx5/pinyin/*.history
**/fcitx5/rime/user.yaml
**/fcitx5/rime/build
**/fcitx5/rime/sync
**/fcitx5/rime/*.userdb
**/fcitx5/rime/installation.yaml
**/fcitx5/rime/cn_dicts/temp.txt


**/mpd/state
**/mpd/database
**/mpd/sticker.sql
**/mpd/log
**/mpd/pid
**/mpd/playlists

**/mpv/scripts/mpvremote
**/mpv/watch_later
