[submodule "extra/zshplugins/powerlevel10k"]
	path = extra/zshplugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule "extra/zshplugins/zsh-history-substring-search"]
	path = extra/zshplugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "extra/zshplugins/zsh-autocomplete"]
	path = extra/zshplugins/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete
[submodule "extra/zshplugins/zsh-syntax-highlighting"]
	path = extra/zshplugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "extra/zshplugins/zsh-autosuggestions"]
	path = extra/zshplugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
