[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/kelen/Desktop/steam.desktop]
row=2
col=0

[40a54f82-1e89-4087-a078-cab0435b1134]
row=3
col=0

[Trash]
row=4
col=0

[/]
row=0
col=0

[/home/kelen]
row=1
col=0

