* {
  font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 11px;
    /* color: #3A3B3C; */
}

#waybar {
  /* Transparent waybar. Make sure to comment out background-color: and border: */
  background: rgba(0, 0, 0, 0.3);
  color: #e3e3e3;
  border-radius: 0px;
  border-top: 8px transparent;
  /* border-right: 2px solid #252E3C;*/
  /* background-color: #1e1e2e; */
  /* border: 2px solid #313244; */
  transition-property: background-color;
  transition-duration: .5s;
}

tooltip {
    background: rgb(29, 32, 41);
    border-width: 2px;
    border-style: solid;
    /* border-color: #11111b; */
}

window#waybar.hidden {
  opacity: 0.5;
}
#pulseaudio.icon,
#network.icon,
#cpu.icon,
#temperature.icon,
#memory.icon,
#battery.icon,
#backlight,
#battery,
#clock,
#cpu,
#disk,
#memory,
#temperature,
#mode,
#tray,
#pulseaudio,
#bluetooth,
#idle_inhibitor,
#mpd
#custom-power-menu,
#cutom-terminal,
#window,
#workspaces,
#custom-menu,
#custom-media,
#custom-power,
#custom-weather,
#custom-updater,
#custom-keybindings,
#custom-hyprpicker,
#custom-playerlabel,
#custom-playerctl,
#custom-pctlpr,
#custom-pctlps,
#custom-pctln,
#custom-cycle_wall,
#custom-cpuicon,
#custom-volicon,
#custom-neticon,
#custom-memicon,
#custom-diskicon,
#custom-tempicon,
#custom-blicon,
#custom-baticon,
#custom-clockicon,
#custom-dateicon,
#custom-micicon,
#custom-spotify,
#custom-weather,
#custom-weather.severe,
#custom-weather.sunnyDay,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.default,
#network {
  border-radius: 10px;
  margin: 0 2px;
  padding: 6px 2px 6px 2px;
  background: transparent;
  color: #e3e3e3;
  /*border: 2px solid #3a3b3c; */
}

#custom-blicon{

  color: #cba6f7;

}
#custom-memicon{

  color: #eba0ac;

}
#cpu.icon,
#custom-cpuicon{

  color: #89dceb;

}
#custom-tempicon{

  color: #e83232;

}
#network.icon,
#custom-neticon{

  color: rgb(8, 119, 223);
  /* background-color: #1E1E20;
  padding: 12px 6px 12px 6px; */
}
#custom-baticon{

  color: #EDCA8C;
  /* padding: 8px 6px 8px 6px; */

}

#cpu,
#disk,
#memory,
#pulseaudio,
#backlight,
#temperature,
#battery,
#network{
  /* background-color: #252527; */
  padding: 8px 0px 8px 0px;
  border-radius: 0px 0px 10px 10px;
}

#custom-pctlps{

  border-radius: 0;

}
#custom-pctln{

  padding: 8px 0px 8px 0px;
  border-radius: 0px 0px 10px 10px;

}

#custom-pctlpr,
#custom-pctlps,
#custom-pctln{
  color: #e3e3e3;
  font-size: 15px;
}
#pulseaudio.icon,
#cpu.icon,
#temperature.icon,
#memory.icon,
#battery.icon,
#custom-cpuicon,
#custom-volicon,
#custom-memicon,
#custom-diskicon,
#custom-pctlpr,
#custom-blicon,
#custom-clockicon,
#custom-tempicon,
#custom-neticon,
#network.icon,
#custom-dateicon,
#custom-micicon,
#custom-baticon {

    padding: 6px 0px 6px 0px;
    border-radius: 10px 10px 0px 0px;
    /* background-color: #1E1E20; */

}


#workspaces,
#pulseaudio,
#battery,
#temperature,
#tray,
#backlight,
#network,
#cpu,
#memory,
#custom-power{

  margin-bottom: 2px;

}


#workspaces {
  color: #e3e3e3;
}

#window{

  padding: 7px 15px;
  /* border-radius: 20px; */
  /* padding-left: 10px; */
  /* padding-right: 10px; */
  color: #e3e3e3;

}


@keyframes blink {
    to {
        background-color: rgba(30, 34, 42, 0.5);
        color: #abb2bf;
    }
}


#tray,
#disk {
  color: #e3e3e3;
}


#workspaces {
    margin-right: 8px;
}

/* non-empty workspaces */
#workspaces button {
  padding: 5px 5px;  
  color: #e3e3e3;
  background-color: transparent;
  background: transparent;

  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;

  transition: all 0.2s ease;

  border: none;
  border-radius: 0;
}

#workspaces button:hover {
  /* transition-duration: .1s; */
  color: #eceff4;
  box-shadow: inset 0 -2px #ffffff;
  /* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
  text-shadow: inherit;
  box-shadow: inherit;
  background-color: transparent;

  /* box-shadow: none;*/ /* Remove predefined box-shadow */
  /* text-shadow: none;*/ /* Remove predefined text-shadow */
  /* background: none;*/ /* Remove predefined background color (white) */
  /* transition: none;*/  /* Disable predefined animations */
}

/* non-empty persistent workspaces */
#workspaces button.persistent {
  background-color: transparent;
  color: #e3e3e3;
}

/* empty persistent workspaces */
#workspaces button.empty {
  background-color: transparent;
  color: #4c566a;
}

/* active or visible workspaces */
#workspaces button.active,
#workspaces button.visible {
  /* background-color: #4c566a; */
  /* box-shadow: inset 0 -4px #eceff4; */
  background-color: rgba(30, 34, 42, 0.213);
  color:#0dae15;
  padding: 2px 0px 2px 0px;
  margin-right: 2px;
  margin-left: 2px;
  border-radius: 10px;

}
#workspaces button.urgent {
  color: #bf616a;
}





#custom-menu {
  font-size: 15px;
  padding: 10px 6px 10px 6px;
  margin-top: 8px;
  margin-bottom: 8px;
  /* background-color: #032448; */
  background-color: rgba(32, 126, 233, 0.734);
  color: #e3e3e3;
}

#clock {
  padding: 6px 6px 3px 6px;
  background-color: #c39426;
  color: #e3e3e3;
  font-size: 12px;
  margin-top: 8px;
  margin-bottom: 8px;
}


#custom-power {
  padding: 6px 6px 3px 6px;
  color: #e3e3e3;
  background-color: #C5676D;
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 8px;
}

#custom-uptime,
#custom-weather,
#custom-hyprpicker,
#custom-cycle_wall,
#custom-vpn_check,
#custom-cputemp,
#custom-keybindings,
#custom-updater {
  color: #e3e3e3;
}



#custom-keybindings {
  font-size: 24px;
}

#pulseaudio.icon,
#custom-volicon,
#custom-micicon,
#custom-clockicon {

    color: #1fbfdf;

}

#custom-spotify {
    padding: 0 10px;
    margin: 6px 4px;
    border-radius: 8px;
    background-color: #6BD999;
    color: black;
}

#pulseaudio {
  color: #e3e3e3;
}

#pulseaudio.bluetooth {
  color: #e3e3e3;
}
#pulseaudio.muted {
  
  color: #bec3d4;
}
#pulseaudio.icon.muted {
  color: #8895be;
}



#custom-power-menu {
  border-radius: 9.5px;
  background-color: #1b242b;
  border-radius: 7.5px;
  padding: 0 5px;
}

#custom-launcher {
  background-color: #1b242b;
  color: #6a92d7;
  border-radius: 7.5px;
  padding: 0 3px;
}

#custom-weather.severe {
  color: #eb937d;
}

#custom-weather.sunnyDay {
  color: #c2ca76;
}

#custom-weather.clearNight {
  color: #cad3f5;
}

#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight {
  color: #c2ddda;
}

#custom-weather.rainyDay,
#custom-weather.rainyNight {
  color: #5aaca5;
}

#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight {
  color: #d6e7e5;
}

#custom-weather.default {
  color: #dbd9d8;
}


/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}



#backlight {
  /* color: #EBCB8B; */
  color: #e3e3e3;
}

#battery {
  color: #e3e3e3;
  /* background-color: #90b1b1; */
}

#battery.charging,
#battery.plugged {
  color: #26a65b;
  /* background-color: #26a65b; */
}
#battery.full {
  color: #e3e3e3;
}
#battery.discharging.critical {
  color: #e74c3c;
  /* background-color: #e74c3c; */
}
#battery.discharging.full {
  color: #e3e3e3;
}
#battery.discharging.good {
  color: rgb(9, 117, 225);
  /* background-color: #26a65b; */
}
#battery.discharging.low {
  color: #f39c12;
  /* background-color: #f39c12; */
}
#battery.discharging.warning {
  color: #e74c3c;
  /* background-color: #e74c3c; */
}


#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#disk {
  background-color: #964b00;
}

#bluetooth {
  color: #707d9d;
}

#bluetooth.disconnected {
  color: #f53c3c;
}

#network {
  font-size: 9px;
  color: #e3e3e3;
}
#network.icon {
  font-size: 12px;
}

#network.disconnected {
  color: #f53c3c;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}


#temperature.critical {
  color: #eb4d4b;
}


#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#mpd {
  color: #2a5c45;
}

#mpd.disconnected {
  color: #f53c3c;
}

#mpd.stopped {
  color: #90b1b1;
}

#mpd.paused {
  color: #51a37a;
}

#language {
  background: #00b093;
  color: #740864;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state {
  background: #97e1ad;
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}


#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}
